html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#canvas, #preview {
    background: none repeat scroll 0 0;
    height: 600px;
    position: absolute;
    width: 300px;
}

.glow {
    border: 2px solid #9ecaed;
    box-shadow: 0 0 15px #9ecaed;
}

#canvas svg {
  opacity: 1.0;
}

#main {
    height: 600px;
    margin: 30px auto;
    position: relative;
    width: 450px;
}

#preview {
    height: 120px;
    left: 330px;
    width: 120px;
}

#score {
    height: 42px;
    left: 330px;
    position: absolute;
    top: 140px;
    width: 144px;
}

#score_head {
    background: url("../img/score/score.png");
    height: 40px;
    margin-bottom: 3px;
    width: 144px;
}

.score {
    float: left;
    height: 42px;
    margin: 0 1px;
    width: 30px;
}


/*
Level Themes
*/

html.level_0, body.level_0 {
  background: url("../img/tetris_bg.jpg") no-repeat scroll right bottom transparent;
}

.level_0 .zero {
  background: url("../img/score/score_0.png") repeat scroll 0 0 transparent;
}

.level_0 .one {
  background: url("../img/score/score_1.png") repeat scroll 0 0 transparent;
}

.level_0 .two {
  background: url("../img/score/score_2.png") repeat scroll 0 0 transparent;
}

.level_0 .three {
  background: url("../img/score/score_3.png") repeat scroll 0 0 transparent;
}

.level_0 .four {
  background: url("../img/score/score_4.png") repeat scroll 0 0 transparent;
}

.level_0 .five {
  background: url("../img/score/score_5.png") repeat scroll 0 0 transparent;
}

.level_0 .six {
  background: url("../img/score/score_6.png") repeat scroll 0 0 transparent;
}

.level_0 .seven {
  background: url("../img/score/score_7.png") repeat scroll 0 0 transparent;
}

.level_0 .eight {
  background: url("../img/score/score_8.png") repeat scroll 0 0 transparent;
}

.level_0 .nine {
  background: url("../img/score/score_9.png") repeat scroll 0 0 transparent;
}

