html, body {
  background: url("../img/tetris_bg.jpg") no-repeat scroll 0 0 transparent;
  height: 100%;
  margin: 0;
}

#canvas, #preview {
  background: #fff;
  float: left;
  height: 600px;
  margin: 30px 0;
  opacity: 0.75;
  position: relative;
  width: 300px;
}

#main {
    margin: auto;
    height: 600px;
    width: 450px;
}

#preview {
    height: 120px;
    margin-left: 30px;
    width: 120px;
}